<div>
  <app-section-title
    ><div class="flex w-full justify-between items-center">
      Notes
      <app-section-button></app-section-button></div
  ></app-section-title>

  <app-section-content>
    <div class="flex flex-col items-start justify-start px-4">
      <h5 class="text-md text-red-orange mt-2 font-bold">25 Oct 2023</h5>
      <span class="text-xs text-gray-700 py-3 border-b border-b-gray-300 mb-3">
        I've had the best of days today!! I can see my progress, it's small but
        it's there and it makes me so happy to ...
      </span>

      <span class="text-xs text-gray-700">
        2 days ago <strong>•</strong> 22:37 pm
      </span>
    </div>
  </app-section-content>
</div>
